
body, html {
    color: rgb(33, 25, 34);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding:4px 16px 4px 16px;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}

.finder {
    display: flex;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 120vh
}

.finder input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    align-items: center;
}

.finder .material-symbols-outlined {
    color: gray;
}
.material-symbols-outlined:hover{
    background-color: lightgray;
    border-radius: 24px;
    padding: 2px;
}
#Inicio{  
    box-sizing: border-box;
    background-color: black;
    color:white;
    padding: 0 16px 0 16px;
    border-radius: 24px;
    cursor:pointer;
}
.box_head{
    box-sizing: border-box;
    cursor:pointer;
}
#grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 10vh;
    row-gap: 2px;
    align-items: stretch;
    
  
}
.image{
    border-radius: 24px;
    width: 35vh;
    box-sizing: border-box;
    
}
.image:hover{
    filter:brightness(50%);
    /*opacity: 1;*/
    
}
/*.botones{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}*/

.card-image{
    justify-self: center;
}
.item{
    height: max-content;
}
